{% extends 'encyclopedia/layout.html' %}

{% block title %}
    Edit
{% endblock %}

{% block body %}
    <h2>Edit page:</h2>
    <form action="{% url 'save_page' %}" method="POST">
        {% csrf_token %}
        <label for="title">
            Title:
            <input type="text" id="title" name="title" value="{{ title }}"/>
        </label>
        <p>Markdown Content:</p>
        <textarea name="content">{{ entry }}</textarea>
        <input type="submit" value="Edit">
    </form>
    
{% endblock %}