{% extends 'encyclopedia/layout.html' %}

{% block title %}
{% endblock %}

{% block body %}
    <h2 style="padding-top: 30px;">Create a new page:</h2>


    <form action="{% url 'new_page' %}" method="POST">
        {% csrf_token %}
        <label for="title"> 
            Title: 
            <input type="text" name="title" id="title" placeholder="Enter a title...">
        </label>
        <textarea name="content" placeholder="Type Here..." style="width: 800px; height: 500px; display: block;"></textarea>
        <input type="submit" value="Create" />
    </form>
    
{% endblock %}