
body {
    background-color:#141517;
    color: #ffffff;
    font-size: 1rem;
    font-family: monospace;
}

  

/* .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #44444E;
    padding: 0 20px;
    height: 64px;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    gap: 2.5rem; 
} */